<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-title>About</ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<ion-card-header>
  Contact Us ၽြႃးပီၼ်းၸဝ်ႈ
</ion-card-header>
<ion-card-content>
  Here is where you put links to things<br>
  <a href="http://www.surehope.net">Surehope Link Test</a>
</ion-card-content>

<ion-card-header>
  Another Card 测试 ᥙᥤᥱᥘᥩᥒᥱᥖᥭᥰ
</ion-card-header>
<ion-card-content>
  Here is where you put links to things
</ion-card-content>
          
</ion-content>
