<ion-header>
  <ion-navbar>
    <ion-title>Hmong Podcast 别的语言 ယေႇသု</ion-title>
    <ion-buttons end>
      <button ion-button icon-only padding-right (click)="openAbout()">
        <ion-icon md="md-help-circle"> </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only padding-right (click)="shareApp()">
        <ion-icon md="md-share"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>

<ion-content>
  <audio-track #audio *ngFor="let track of myTracks" [track]="track" (onFinish)="onTrackFinished($event)">
    <ion-card>

      <ion-card-header>
        <div class="row">
          <div class="col col-40">{{audio.title}} </div>
          <div class="col"> {{track.airDate}}</div>
        </div>
      </ion-card-header>

      <ion-card-content>
        {{audio.artist}}
        <br>
        <audio-track-play dark [audioTrack]="audio" (click)="playSelectedTrack($event)">
          <ion-spinner></ion-spinner>
        </audio-track-play>
        <ion-icon name="download" style="font-size:25px; vertical-align:-35%" (tap)="start_download(track.src)"></ion-icon>

        <audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
      </ion-card-content>
    </ion-card>
  </audio-track>
</ion-content>
